 <!-- <footer class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
  <div class="three wide column">
  <h4 class="ui inverted header">Links</h4>
  <div class="ui inverted link list">
  <a href="projects" class="item">Projects</a>
  <a href="mailto:memegames1337@gmail.com" class="item">Contact Me</a>
  </div>
  </div>
  </div>
  </footer>-->