<div class="navbar">
  <div class="ui attached borderless stackable menu inverted">
    <div class="ui container">
      <a href="/" class="header item">
        <img class="logo" src="//lithi.io/file/hPDc.png"> MilkGames
      </a>
      <a href="/" class="item">Home</a>
      <div class="ui simple inverted dropdown item">
        <a href="/projects">Projects <i class="dropdown icon"></i></a>
        <div class="menu">
          <% for (let [key, value] of Object.entries(projects)) { %>
          <% if (value.type == "seperator") { %>
          <div class="divider"></div>
          <div class="header"><%= value.name %></div>
          <% } else { %>
          <a class="item" href="/project/<%= key %>"><%= value.name %></a>
          <% } } %>

        </div>
      </div>
      <a href="/feedback" class="item">Feedback</a>
      <a href="/blog" class="item">Blog</a>
    </div>
  </div>
</div>