<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="The official website for all things related to MilkGames and his amazing projects. *cough cough*">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>MilkGames</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.2/build/styles/tomorrow-night-eighties.min.css">
  <script src="/admin.js"></script>
  <meta name="flattr:id" content="zlnq5z">
  <meta name="description" content="The official website for all things related to MilkGames and his amazing projects. *cough cough*">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="MilkGames">
  <meta itemprop="description" content="The official website for all things related to MilkGames and his amazing projects. *cough cough*">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://milkgames.pw">
  <meta property="og:type" content="website">
  <meta property="og:title" content="MilkGames">
  <meta property="og:description" content="The official website for all things related to MilkGames and his amazing projects. *cough cough*">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="MilkGames">
  <meta name="twitter:description" content="The official website for all things related to MilkGames and his amazing projects. *cough cough*">
  <meta name="mobile-web-app-capable" content="yes">
  <%- include("partials/required.ejs") %>
</head>
<body>

  <%- include("partials/header.ejs") %>

  <div id="main">

    <div class="ui main text container">
      <h1 class="ui inverted header">Admin Page</h1>
      <% if (authed == true) { %>
      <form class="ui inverted form" action="/blog/post" id="blogForm" method="post">
        <div class="field">
          <label>Title:</label>
          <input type="text" name="title">
          <label>Body:</label>
          <textarea type="text" name="body"></textarea> 
          <label>Image URL:</label>
          <input type="text" name="img">
          <label>Password:</label>
          <input type="text" name="password">
        </div>
        <button class="ui primary button" type="submit">Post</button>
        <button class="ui button" type="button" onclick=previewBlogPost()>Preview</button>
      </form>
      <div class="ui inverted segment" id="fileUpload">
      <form class="ui inverted form" action="/file/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="ui file input" style="width: 50%;">
        <button class="ui primary button" style="width: 49%;" type="submit">Upload mp4</button>
      </form>
      </div>
      <table class="ui celled inverted table">
        <thead>
          <tr>
            <th>Feedback</th>
          </tr></thead>
          <tbody>
            <% for(var i=0; i < feedback.length; i++) { %>
            <tr>
              <td data-label="Feedback"><%= feedback[i].feedback %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } else { %>
        <form class="ui inverted form" action="/admin/login" method="POST">
          <div class="field">
            <label>Password:</label>
            <input type="password" name="password">
          </div>
          <button class="ui button" type="submit">Login</button>
        </form>
        <% } %>
      </div>

    </div>
  </body>
  </html>